<h1 class="text-center mt-4 font-italic text-info ">BLOGGERS</h1>
</br>
<div class="col text-center mb-3">
<h2><%= @user.username  %> </h2>
</div>
<%= gravatar_for @user, size: 200 %>

   <% if logged_in? && @user == current_user %>
 <div class= "col text-center mt-4">
  <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
 </div>
 <% end %>
<h3 class="text-center mt-4">Articles</h3>

<div class="flickr_pagination">
  <%= will_paginate @article, :container => false %>
</div>
<%= render 'articles/article', article: @user.articles %>
<div class="flickr_pagination mb-4">
  <%= will_paginate @article, :container => false %>
</div>